* {
    margin: 0;
}

html {
    background-color: black;
    color: white;
    height: 100%;
}

body {
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.center {
    text-align: center;
}

.profile {
    margin-bottom: 1em;
}

.profile img{
    width: 14em;
    height: 14em;
    border-radius: 100%;
    outline: 0.3em solid rgba(255, 255, 255, 0.7);
    outline-offset: -0.3em;
    transition: all 0.3s;
}

.profile img:hover {
    outline: 0em solid rgba(255, 255, 255, 0.7);
    outline-offset: 0em;
    /* opacity: 0.9; */
    transform: scale(1.014);
    filter: brightness(110%);
    transition: all 0.1s;
}

h1 {
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 4em;
    line-height: 0.8em;
    /* margin: 0.5em; */
}

h2 {
    color: rgb(150, 150, 150);
    font-family: 'PT Sans Narrow', sans-serif;
    /* font-family: 'Edu VIC WA NT Beginner', cursive; */
    font-size: 1.6em;
    line-height: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

p {
    color: rgb(200, 200, 200);
    padding-top: 0.3em;
    font-family: 'Source Sans Pro', Calibri, sans-serif;
    font-size: 1.6em;
}

.for-protection {
    display: none;
}

p a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    transition: all 0.3s;
}
p a:hover {
    color: rgb(150, 150, 150);
    transition: all 0.1s;
}
p a:active {
    color: rgb(100, 100, 100);
    font-size: 0.98em;
    transition: all 0.1s;
}

#footer {
    margin-top: 2em;
    font-size: 0.8em;
    font-style: italic;
}